<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<f:metadata>
	<f:viewParam name="token" value="#{ attendanceConfirmationBean.token }" />
<!-- 	<f:viewAction action="#{ attendanceConfirmationBean.token }" /> -->
</f:metadata>

<head>
<title>attendance confirmation</title>
</head>

<h:body>
	<h2>Attendence confirmation</h2>

	<h:form>
		<h:commandButton value="Confirm"
 			action="#{ attendanceConfirmationBean.confirm }" />
		<h:commandButton value="Decline"
 			action="#{ attendanceConfirmationBean.decline }" />
	</h:form>

</h:body>

</html>
