<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


<head>
<title>Banner</title>
</head>

<body>
	<h:form>
		<ui:fragment rendered="#{ not bannerBean.isConnected }">
			<h:commandButton value="Login" action="#{ bannerBean.goToLoginPage }" />
		</ui:fragment>
		<ui:fragment rendered="#{ bannerBean.isConnected }">
		#{ bannerBean.sessionUsername }
		<h:commandButton value="Logout"
				action="#{ bannerBean.invalidateSession }" />
		</ui:fragment>

		<h:commandButton value="Register" action="#{ bannerBean.register }" />
	</h:form>
	<hr />

</body>

</html>
