<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title>Creation form</title>
</head>

<h:body>
	<ui:include src="banner.xhtml"></ui:include>
	<h2>Formulaire de creation</h2>
	<h:form>
		<h:outputLabel>Titre</h:outputLabel>
		<h:inputText id="title" value="#{ eventCreationBean.title }">
			<f:validateRequired for="title" />
		</h:inputText>
		<h:message for="title" />
		<br />
		<h:outputLabel>Description</h:outputLabel>
		<h:inputText id="description"
			value="#{ eventCreationBean.description }">
			<f:validateRequired for="description" />
		</h:inputText>
		<h:message for="description" />

		<h:commandButton value="Register"
			action="#{ eventCreationBean.register }" />
	</h:form>
</h:body>

</html>
