<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<f:metadata>
	<f:viewParam name="index" value="#{ eventLinkBean.index }" />
	<f:viewAction action="#{ eventLinkBean.load }" />
</f:metadata>

<head>
<title>Event Page</title>
<link rel="stylesheet" href="eventLink.css" />
</head>

<body>
	<ui:include src="banner.xhtml" />
	<h2>#{ eventLinkBean.event.title }</h2>
	<p>#{ eventLinkBean.event.author.username }</p>
	<p>#{ eventLinkBean.event.description }</p>

	<p>Invitations @</p>

	<h:form>
		<h:inputTextarea name="textarea" rows="10" cols="50" id="email"
			value="#{ eventLinkBean.addressesParam }">
			<f:validateRequired for="email" />
<!-- 			<f:validator binding="#{ emailValidator }" /> -->
		</h:inputTextarea>
		<h:message for="email" />
		<br />
		<h:commandButton value="Register" action="#{ eventLinkBean.register }" />
	</h:form>

	<hr />
	<h:panelGroup class="tab">
		<h:panelGroup class="tab__item">
			<h2>Pending invitations</h2>
			<h:dataTable value="#{ eventLinkBean.pendingInvitations }" var="item">
				<h:column>
					<f:facet name="header">email 
					</f:facet>
				#{ item.email }
				</h:column>
				<h:column>
					<f:facet name="header">date 
					</f:facet>
				#{ item.date }
				</h:column>

			</h:dataTable>
		</h:panelGroup>

		<h:panelGroup class="tab__item">
			<h2>Confirmed invitations</h2>
			<h:dataTable value="#{ eventLinkBean.confirmedInvitations }"
				var="item">
				<h:column>
					<f:facet name="header">email 
					</f:facet>
				#{ item.email }
				</h:column>
				<h:column>
					<f:facet name="header">date 
					</f:facet>
				#{ item.date }
				</h:column>

			</h:dataTable>
		</h:panelGroup>

		<h:panelGroup class="tab__item">
			<h2>Declined invitations</h2>
			<h:dataTable value="#{ eventLinkBean.declinedInvitations }"
				var="item">
				<h:column>
					<f:facet name="header">email 
					</f:facet>
				#{ item.email }
				</h:column>
				<h:column>
					<f:facet name="header">date
					</f:facet>
				#{ item.date }
				</h:column>
			</h:dataTable>
		</h:panelGroup>
	</h:panelGroup>
</body>


</html>
