.tab {
	background-color: #408080;
	display: flex;
	flex-direction: lign;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
}

.tab__item {
	background-color: #ff80c0;
	/*height: 150px; l'item prend la taille de son enfant donc la taille de l'image*/
	width: calc(100%/ 3 - 40px/ 3);
	border: 1px solid black;
	margin-right: 10px;
	margin-bottom: 20px;
}