<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title>List events</title>
</head>

<body>
	<ui:include src="banner.xhtml"></ui:include>
	<h2>Events</h2>
	<h:dataTable value="#{ listEvent.events }" var="item">
		<h:column>
			<f:facet name="header">titles 
			</f:facet>
			<ui:fragment rendered="#{ listEvent.authorId eq item.author.id }">
				<h:outputLink
					value="/creation-evenements-maeliss-mithra/faces/event-link.xhtml?index=#{ item.id }">
				#{ item.title }</h:outputLink>
			</ui:fragment>
			<ui:fragment rendered="#{ not bannerBean.isConnected }">
				<h:outputLink
					value="/creation-evenements-maeliss-mithra/faces/login.xhtml">
				#{ item.title }</h:outputLink>
			</ui:fragment>
		</h:column>
		<h:column>
			<f:facet name="header">descriptions
			</f:facet>
			<ui:fragment rendered="#{ listEvent.authorId eq item.author.id }">
			#{ item.description }
			</ui:fragment>
		</h:column>
	</h:dataTable>

	<br />
	<h:form>
		<h:commandButton value="Create a new event"
			action="#{ listEvent.create }" />
	</h:form>

</body>

</html>
