<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title>Login</title>
</head>

<body>
	<h2>Login</h2>
	<h:form>
		<h:outputLabel>Username</h:outputLabel>
		<h:inputText id="username" value="#{ loginBean.author.username }">
			<f:validateRequired for="username" />
		</h:inputText>
		<h:message for="username" />
		<br />
		<h:outputLabel>Password</h:outputLabel>
		<h:inputText id="password" value="#{ loginBean.author.password }">
			<f:validateRequired for="password" />
		</h:inputText>
		<h:message for="password" />
		<br />
		<h:commandButton value="Register" action="#{ loginBean.register }" />
	</h:form>
</body>

</html>
