<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title>Registration form</title>
</head>

<body>
	<h2>Registration</h2>
	<h:form>
		<h:outputLabel>Username</h:outputLabel>
		<h:inputText id="username" value="#{ registerBean.author.username }">
			<f:validateRequired for="username" />
			<!-- 			<f:validator validatorId="UsernameValidator" /> -->
		</h:inputText>
		<h:message for="username" />
		<br />
		<h:outputLabel>Password</h:outputLabel>
		<h:inputText id="password" value="#{ registerBean.author.password }">
			<f:validateRequired for="password" />
		</h:inputText>
		<h:message for="password" />
		<br />
		<h:commandButton value="Register" action="#{ registerBean.register }" />
		<ui:fragment rendered="#{ registerBean.isUsernameAlreadySet }">
				<p>Username already exists</p>
		</ui:fragment>
	</h:form>
</body>

</html>
